code base/5-XML/xsd/mail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/mail" xmlns:tns="http://www.example.org/mail" elementFormDefault="qualified">
    <element name="mail" type="tns:mail"></element>
    <complexType name="mail">
    	<sequence>
    		<element name="to" type="string"></element>
    		<element name="from" type="string"></element>
    		<element name="heading" type="string"></element>
    		<element name="body" type="string"></element>
    	</sequence>
    </complexType>
</schema>